
:root {
    --color-base-white: #ffffff; 
    --color-base-gray-200: #f6f7f9; 
    --color-base-black: #000000; 
    --color-base-gray-300: #e6e8ef; 
    --color-base-gray-500: #c6ccdb; 
    --color-base-gray-600: #7f8594; 
    --color-base-gray-700: #606981; 
    --color-base-purple-200: #f5f2fd; 
    --color-base-purple-300: #d9c8f5; 
    --color-base-purple-500: #be9ff0; 
    --color-base-purple-600: #a275ea; 
    --color-base-purple-700: #874ce6; 
    --color-base-blue-200: #ecf5ff; 
    --color-base-blue-300: #d1e2ff; 
    --color-base-blue-500: #5292ff; 
    --color-base-blue-600: #1062fe; 
    --color-base-blue-700: #014ee1; 
    --color-base-green-200: #ebfef6; 
    --color-base-green-300: #b4e9c5; 
    --color-base-green-500: #6ac883; 
    --color-base-green-600: #35a24f; 
    --color-base-green-700: #007a1c; 
    --color-background-blur: #ffffffcc; /* For use in combination with Blur tokens. */
    --color-background-blur-neutral: #606981cc; /* For use in combination with Blur tokens. */
    --color-on-background-primary: #ffffff; /* To be used on Primary and Primary Highlighted background colors. */
    --color-blue-blue-200: #ecf5ff; 
    --color-gray-gray-200: #f6f7f9; 
    --color-gray-gray-300: #e6e8ef; 
    --color-gray-gray-500: #c6ccdb; 
    --color-gray-gray-600: #7f8594; 
    --color-gray-gray-700: #606981; 
    --color-blue-blue-300: #d1e2ff; 
    --color-blue-blue-500: #5292ff; 
    --color-blue-blue-600: #1062fe; 
    --color-blue-blue-700: #014ee1; 
    --color-green-green-200: #ebfef6; 
    --color-green-green-300: #b4e9c5; 
    --color-green-green-500: #6ac883; 
    --color-green-green-600: #35a24f; 
    --color-green-green-700: #007a1c; 
    --color-purple-purple-200: #f5f2fd; 
    --color-purple-purple-300: #d9c8f5; 
    --color-purple-purple-500: #be9ff0; 
    --color-purple-purple-600: #a275ea; 
    --color-purple-purple-700: #874ce6; 
    --color-white: #ffffff; 
    --color-black: #000000; 
    --color-orange: #cb4e00; 
    --color-foreground-neutral: #000000; 
    --color-border-neutral: #e6e8ef; 
    --color-background-page: #ffffff; 
    --color-foreground-neutral-faded: #606981; 
    --color-foreground-primary: #014ee1; 
    --color-foreground-secondary: #cb4e00; 
    --color-foreground-disabled: #c6ccdb; 
    --color-foreground-positive: #007a1c; 
    --color-border-secondary: #874ce6; 
    --color-border-focus: #5292ff; 
    --color-border-secondary-faded: #d9c8f5; 
    --color-border-primary: #014ee1; 
    --color-border-positive: #007a1c; 
    --color-border-primary-faded: #d1e2ff; 
    --color-border-positive-faded: #b4e9c5; 
    --color-background-secondary: #874ce6; 
    --color-background-neutral: #f6f7f9; 
    --color-background-secondary-highlighted: #a275ea; 
    --color-background-secondary-faded: #f5f2fd; 
    --color-background-primary: #014ee1; 
    --color-background-positive: #007a1c; 
    --color-background-primary-highlighted: #1062fe; 
    --color-background-positive-highlighted: #35a24f; 
    --color-background-primary-faded: #ecf5ff; 
    --color-background-positive-faded: #ebfef6; 
}