
:root {
    --color-variables-misc-white-to-dark-2: #ffffffe5; 
    --color-variables-effects-translucent: #ffffffcc; 
    --color-colors-gray-1: #fcfcfc; 
    --color-colors-gray-2: #f9f9f9; 
    --color-colors-gray-3: #f0f0f0; 
    --color-colors-gray-4: #e8e8e8; 
    --color-colors-gray-5: #e0e0e0; 
    --color-colors-gray-6: #d9d9d9; 
    --color-colors-gray-7: #cecece; 
    --color-colors-gray-8: #bbbbbb; 
    --color-colors-gray-9: #8d8d8d; 
    --color-colors-gray-10: #838383; 
    --color-colors-gray-11: #646464; 
    --color-colors-gray-12: #202020; 
    --color-colors-gray-alpha-1: #00000003; 
    --color-colors-gray-alpha-2: #00000006; 
    --color-colors-gray-alpha-3: #0000000f; 
    --color-colors-gray-alpha-4: #00000017; 
    --color-colors-gray-alpha-5: #0000001f; 
    --color-colors-gray-alpha-6: #00000026; 
    --color-colors-gray-alpha-7: #00000031; 
    --color-colors-gray-alpha-8: #00000044; 
    --color-colors-gray-alpha-9: #00000072; 
    --color-colors-gray-alpha-10: #0000007c; 
    --color-colors-gray-alpha-11: #0000009b; 
    --color-colors-gray-alpha-12: #000000df; 
    --color-colors-mauve-1: #fdfcfd; 
    --color-colors-mauve-2: #faf9fb; 
    --color-colors-mauve-3: #f2eff3; 
    --color-colors-mauve-4: #eae7ec; 
    --color-colors-mauve-5: #e3dfe6; 
    --color-colors-mauve-6: #dbd8e0; 
    --color-colors-mauve-7: #d0cdd7; 
    --color-colors-mauve-8: #bcbac7; 
    --color-colors-mauve-9: #8e8c99; 
    --color-colors-mauve-10: #84828e; 
    --color-colors-mauve-11: #65636d; 
    --color-colors-mauve-12: #211f26; 
    --color-colors-mauve-alpha-1: #55005503; 
    --color-colors-mauve-alpha-2: #2b005506; 
    --color-colors-mauve-alpha-3: #30004010; 
    --color-colors-mauve-alpha-4: #20003618; 
    --color-colors-mauve-alpha-5: #20003820; 
    --color-colors-mauve-alpha-6: #14003527; 
    --color-colors-mauve-alpha-7: #10003332; 
    --color-colors-mauve-alpha-8: #08003145; 
    --color-colors-mauve-alpha-9: #05001d73; 
    --color-colors-mauve-alpha-10: #0500197d; 
    --color-colors-mauve-alpha-11: #0400119c; 
    --color-colors-mauve-alpha-12: #020008e0; 
    --color-colors-slate-1: #fcfcfd; 
    --color-colors-slate-2: #f9f9fb; 
    --color-colors-slate-3: #f0f0f3; 
    --color-colors-slate-4: #e8e8ec; 
    --color-colors-slate-5: #e0e1e6; 
    --color-colors-slate-6: #d9d9e0; 
    --color-colors-slate-7: #cdced6; 
    --color-colors-slate-8: #b9bbc6; 
    --color-colors-slate-9: #8b8d98; 
    --color-colors-slate-10: #80838d; 
    --color-colors-slate-11: #60646c; 
    --color-colors-slate-12: #1c2024; 
    --color-colors-slate-alpha-1: #00005503; 
    --color-colors-slate-alpha-2: #00005506; 
    --color-colors-slate-alpha-3: #0000330f; 
    --color-colors-slate-alpha-4: #00002d17; 
    --color-colors-slate-alpha-5: #0009321f; 
    --color-colors-slate-alpha-6: #00002f26; 
    --color-colors-slate-alpha-7: #00062e32; 
    --color-colors-slate-alpha-8: #00083046; 
    --color-colors-slate-alpha-9: #00051d74; 
    --color-colors-slate-alpha-10: #00071b7f; 
    --color-colors-slate-alpha-11: #0007149f; 
    --color-colors-slate-alpha-12: #000509e3; 
    --color-colors-sage-1: #fbfdfc; 
    --color-colors-sage-2: #f7f9f8; 
    --color-colors-sage-3: #eef1f0; 
    --color-colors-sage-4: #e6e9e8; 
    --color-colors-sage-5: #dfe2e0; 
    --color-colors-sage-6: #d7dad9; 
    --color-colors-sage-7: #cbcfcd; 
    --color-colors-sage-8: #b8bcba; 
    --color-colors-sage-9: #868e8b; 
    --color-colors-sage-10: #7c8481; 
    --color-colors-sage-11: #5f6563; 
    --color-colors-sage-12: #1a211e; 
    --color-colors-sage-alpha-1: #00804004; 
    --color-colors-sage-alpha-2: #00402008; 
    --color-colors-sage-alpha-3: #002d1e11; 
    --color-colors-sage-alpha-4: #001f1519; 
    --color-colors-sage-alpha-5: #00180820; 
    --color-colors-sage-alpha-6: #00140d28; 
    --color-colors-sage-alpha-7: #00140a34; 
    --color-colors-sage-alpha-8: #000f0847; 
    --color-colors-sage-alpha-9: #00110b79; 
    --color-colors-sage-alpha-10: #00100a83; 
    --color-colors-sage-alpha-11: #000a07a0; 
    --color-colors-sage-alpha-12: #000805e5; 
    --color-colors-olive-1: #fcfdfc; 
    --color-colors-olive-2: #f8faf8; 
    --color-colors-olive-3: #eff1ef; 
    --color-colors-olive-4: #e7e9e7; 
    --color-colors-olive-5: #dfe2df; 
    --color-colors-olive-6: #d7dad7; 
    --color-colors-olive-7: #cccfcc; 
    --color-colors-olive-8: #b9bcb8; 
    --color-colors-olive-9: #898e87; 
    --color-colors-olive-10: #7f847d; 
    --color-colors-olive-11: #60655f; 
    --color-colors-olive-12: #1d211c; 
    --color-colors-olive-alpha-1: #00550003; 
    --color-colors-olive-alpha-2: #00490007; 
    --color-colors-olive-alpha-3: #00200010; 
    --color-colors-olive-alpha-4: #00160018; 
    --color-colors-olive-alpha-5: #00180020; 
    --color-colors-olive-alpha-6: #00140028; 
    --color-colors-olive-alpha-7: #000f0033; 
    --color-colors-olive-alpha-8: #040f0047; 
    --color-colors-olive-alpha-9: #050f0078; 
    --color-colors-olive-alpha-10: #040e0082; 
    --color-colors-olive-alpha-11: #020a00a0; 
    --color-colors-olive-alpha-12: #010600e3; 
    --color-colors-sand-1: #fdfdfc; 
    --color-colors-sand-2: #f9f9f8; 
    --color-colors-sand-3: #f1f0ef; 
    --color-colors-sand-4: #e9e8e6; 
    --color-colors-sand-5: #e2e1de; 
    --color-colors-sand-6: #dad9d6; 
    --color-colors-sand-7: #cfceca; 
    --color-colors-sand-8: #bcbbb5; 
    --color-colors-sand-9: #8d8d86; 
    --color-colors-sand-10: #82827c; 
    --color-colors-sand-11: #63635e; 
    --color-colors-sand-12: #21201c; 
    --color-colors-sand-alpha-1: #55550003; 
    --color-colors-sand-alpha-2: #25250007; 
    --color-colors-sand-alpha-3: #20100010; 
    --color-colors-sand-alpha-4: #1f150019; 
    --color-colors-sand-alpha-5: #1f180021; 
    --color-colors-sand-alpha-6: #19130029; 
    --color-colors-sand-alpha-7: #19140035; 
    --color-colors-sand-alpha-8: #1915014a; 
    --color-colors-sand-alpha-9: #0f0f0079; 
    --color-colors-sand-alpha-10: #0c0c0083; 
    --color-colors-sand-alpha-11: #080800a1; 
    --color-colors-sand-alpha-12: #060500e3; 
    --color-colors-gold-1: #fdfdfc; 
    --color-colors-gold-2: #faf9f2; 
    --color-colors-gold-3: #f2f0e7; 
    --color-colors-gold-4: #eae6db; 
    --color-colors-gold-5: #e1dccf; 
    --color-colors-gold-6: #d8d0bf; 
    --color-colors-gold-7: #cbc0aa; 
    --color-colors-gold-8: #b9a88d; 
    --color-colors-gold-9: #978365; 
    --color-colors-gold-10: #8c7a5e; 
    --color-colors-gold-11: #71624b; 
    --color-colors-gold-12: #3b352b; 
    --color-colors-gold-alpha-1: #55550003; 
    --color-colors-gold-alpha-2: #9d8a000d; 
    --color-colors-gold-alpha-3: #75600018; 
    --color-colors-gold-alpha-4: #6b4e0024; 
    --color-colors-gold-alpha-5: #60460030; 
    --color-colors-gold-alpha-6: #64440040; 
    --color-colors-gold-alpha-7: #63420055; 
    --color-colors-gold-alpha-8: #633d0072; 
    --color-colors-gold-alpha-9: #5332009a; 
    --color-colors-gold-alpha-10: #492d00a1; 
    --color-colors-gold-alpha-11: #362100b4; 
    --color-colors-gold-alpha-12: #130c00d4; 
    --color-colors-bronze-1: #fdfcfc; 
    --color-colors-bronze-2: #fdf7f5; 
    --color-colors-bronze-3: #f6edea; 
    --color-colors-bronze-4: #efe4df; 
    --color-colors-bronze-5: #e7d9d3; 
    --color-colors-bronze-6: #dfcdc5; 
    --color-colors-bronze-7: #d3bcb3; 
    --color-colors-bronze-8: #c2a499; 
    --color-colors-bronze-9: #a18072; 
    --color-colors-bronze-10: #957468; 
    --color-colors-bronze-11: #7d5e54; 
    --color-colors-bronze-12: #43302b; 
    --color-colors-bronze-alpha-1: #55000003; 
    --color-colors-bronze-alpha-2: #cc33000a; 
    --color-colors-bronze-alpha-3: #92250015; 
    --color-colors-bronze-alpha-4: #80280020; 
    --color-colors-bronze-alpha-5: #7423002c; 
    --color-colors-bronze-alpha-6: #7324003a; 
    --color-colors-bronze-alpha-7: #6c1f004c; 
    --color-colors-bronze-alpha-8: #671c0066; 
    --color-colors-bronze-alpha-9: #551a008d; 
    --color-colors-bronze-alpha-10: #4c150097; 
    --color-colors-bronze-alpha-11: #3d0f00ab; 
    --color-colors-bronze-alpha-12: #1d0600d4; 
    --color-colors-brown-1: #fefdfc; 
    --color-colors-brown-2: #fcf9f6; 
    --color-colors-brown-3: #f6eee7; 
    --color-colors-brown-4: #f0e4d9; 
    --color-colors-brown-5: #ebdaca; 
    --color-colors-brown-6: #e4cdb7; 
    --color-colors-brown-7: #dcbc9f; 
    --color-colors-brown-8: #cea37e; 
    --color-colors-brown-9: #ad7f58; 
    --color-colors-brown-10: #a07553; 
    --color-colors-brown-11: #815e46; 
    --color-colors-brown-12: #3e332e; 
    --color-colors-brown-alpha-1: #aa550003; 
    --color-colors-brown-alpha-2: #aa550009; 
    --color-colors-brown-alpha-3: #a04b0018; 
    --color-colors-brown-alpha-4: #9b4a0026; 
    --color-colors-brown-alpha-5: #9f4d0035; 
    --color-colors-brown-alpha-6: #a04e0048; 
    --color-colors-brown-alpha-7: #a34e0060; 
    --color-colors-brown-alpha-8: #9f4a0081; 
    --color-colors-brown-alpha-9: #823c00a7; 
    --color-colors-brown-alpha-10: #723300ac; 
    --color-colors-brown-alpha-11: #522100b9; 
    --color-colors-brown-alpha-12: #140600d1; 
    --color-colors-yellow-1: #fdfdf9; 
    --color-colors-yellow-2: #fefce9; 
    --color-colors-yellow-3: #fffab8; 
    --color-colors-yellow-4: #fff394; 
    --color-colors-yellow-5: #ffe770; 
    --color-colors-yellow-6: #f3d768; 
    --color-colors-yellow-7: #e4c767; 
    --color-colors-yellow-8: #d5ae39; 
    --color-colors-yellow-9: #ffe629; 
    --color-colors-yellow-10: #ffdc00; 
    --color-colors-yellow-11: #9e6c00; 
    --color-colors-yellow-12: #473b1f; 
    --color-colors-yellow-alpha-1: #aaaa0006; 
    --color-colors-yellow-alpha-2: #f4dd0016; 
    --color-colors-yellow-alpha-3: #ffee0047; 
    --color-colors-yellow-alpha-4: #ffe3016b; 
    --color-colors-yellow-alpha-5: #ffd5008f; 
    --color-colors-yellow-alpha-6: #ebbc0097; 
    --color-colors-yellow-alpha-7: #d2a10098; 
    --color-colors-yellow-alpha-8: #c99700c6; 
    --color-colors-yellow-alpha-9: #ffe100d6; 
    --color-colors-yellow-alpha-10: #ffdc00; 
    --color-colors-yellow-alpha-11: #9e6c00; 
    --color-colors-yellow-alpha-12: #2e2000e0; 
    --color-colors-amber-1: #fefdfb; 
    --color-colors-amber-2: #fefbe9; 
    --color-colors-amber-3: #fff7c2; 
    --color-colors-amber-4: #ffee9c; 
    --color-colors-amber-5: #fbe577; 
    --color-colors-amber-6: #f3d673; 
    --color-colors-amber-7: #e9c162; 
    --color-colors-amber-8: #e2a336; 
    --color-colors-amber-9: #ffc53d; 
    --color-colors-amber-10: #ffba18; 
    --color-colors-amber-11: #ab6400; 
    --color-colors-amber-12: #4f3422; 
    --color-colors-amber-alpha-1: #c0800004; 
    --color-colors-amber-alpha-2: #f4d10016; 
    --color-colors-amber-alpha-3: #ffde003d; 
    --color-colors-amber-alpha-4: #ffd40063; 
    --color-colors-amber-alpha-5: #f8cf0088; 
    --color-colors-amber-alpha-6: #eab5008c; 
    --color-colors-amber-alpha-7: #dc9b009d; 
    --color-colors-amber-alpha-8: #da8a00c9; 
    --color-colors-amber-alpha-9: #ffb300c2; 
    --color-colors-amber-alpha-10: #ffb300e7; 
    --color-colors-amber-alpha-11: #ab6400; 
    --color-colors-amber-alpha-12: #341500dd; 
    --color-colors-orange-1: #fefcfb; 
    --color-colors-orange-2: #fff7ed; 
    --color-colors-orange-3: #ffefd6; 
    --color-colors-orange-4: #ffdfb5; 
    --color-colors-orange-5: #ffd19a; 
    --color-colors-orange-6: #ffc182; 
    --color-colors-orange-7: #f5ae73; 
    --color-colors-orange-8: #ec9455; 
    --color-colors-orange-9: #f76b15; 
    --color-colors-orange-10: #ef5f00; 
    --color-colors-orange-11: #cc4e00; 
    --color-colors-orange-12: #582d1d; 
    --color-colors-orange-alpha-1: #c0400004; 
    --color-colors-orange-alpha-2: #ff8e0012; 
    --color-colors-orange-alpha-3: #ff9c0029; 
    --color-colors-orange-alpha-4: #ff91014a; 
    --color-colors-orange-alpha-5: #ff8b0065; 
    --color-colors-orange-alpha-6: #ff81007d; 
    --color-colors-orange-alpha-7: #ed6c008c; 
    --color-colors-orange-alpha-8: #e35f00aa; 
    --color-colors-orange-alpha-9: #f65e00ea; 
    --color-colors-orange-alpha-10: #ef5f00; 
    --color-colors-orange-alpha-11: #cc4e00c5; 
    --color-colors-orange-alpha-12: #431200e2; 
    --color-colors-tomato-1: #fffcfc; 
    --color-colors-tomato-2: #fff8f7; 
    --color-colors-tomato-3: #feebe7; 
    --color-colors-tomato-4: #ffdcd3; 
    --color-colors-tomato-5: #ffcdc2; 
    --color-colors-tomato-6: #fdbdaf; 
    --color-colors-tomato-7: #f5a898; 
    --color-colors-tomato-8: #ec8e7b; 
    --color-colors-tomato-9: #e54d2e; 
    --color-colors-tomato-10: #dd4425; 
    --color-colors-tomato-11: #e12500; 
    --color-colors-tomato-12: #5c271f; 
    --color-colors-tomato-alpha-1: #ff000003; 
    --color-colors-tomato-alpha-2: #ff200008; 
    --color-colors-tomato-alpha-3: #f52b0018; 
    --color-colors-tomato-alpha-4: #ff35002c; 
    --color-colors-tomato-alpha-5: #ff2e003d; 
    --color-colors-tomato-alpha-6: #f92d0050; 
    --color-colors-tomato-alpha-7: #e7280067; 
    --color-colors-tomato-alpha-8: #db250084; 
    --color-colors-tomato-alpha-9: #df2600d1; 
    --color-colors-tomato-alpha-10: #d72400da; 
    --color-colors-tomato-alpha-11: #cd2200ea; 
    --color-colors-tomato-alpha-12: #460900e0; 
    --color-colors-red-1: #fffcfc; 
    --color-colors-red-2: #fff7f7; 
    --color-colors-red-3: #feebec; 
    --color-colors-red-4: #ffdbdc; 
    --color-colors-red-5: #ffcdce; 
    --color-colors-red-6: #fdbdbe; 
    --color-colors-red-7: #f4a9aa; 
    --color-colors-red-8: #eb8e90; 
    --color-colors-red-9: #e5484d; 
    --color-colors-red-10: #dc3e42; 
    --color-colors-red-11: #ce2c31; 
    --color-colors-red-12: #641723; 
    --color-colors-red-alpha-1: #ff000003; 
    --color-colors-red-alpha-2: #ff000008; 
    --color-colors-red-alpha-3: #f3000d14; 
    --color-colors-red-alpha-4: #ff000824; 
    --color-colors-red-alpha-5: #ff000632; 
    --color-colors-red-alpha-6: #f8000442; 
    --color-colors-red-alpha-7: #df000356; 
    --color-colors-red-alpha-8: #d2000571; 
    --color-colors-red-alpha-9: #db0007b7; 
    --color-colors-red-alpha-10: #d10005c1; 
    --color-colors-red-alpha-11: #c40006d3; 
    --color-colors-red-alpha-12: #55000de8; 
    --color-colors-ruby-1: #fffcfd; 
    --color-colors-ruby-2: #fff7f9; 
    --color-colors-ruby-3: #feeff3; 
    --color-colors-ruby-4: #ffdce1; 
    --color-colors-ruby-5: #ffced6; 
    --color-colors-ruby-6: #f8bfc8; 
    --color-colors-ruby-7: #efacb8; 
    --color-colors-ruby-8: #e592a3; 
    --color-colors-ruby-9: #e54666; 
    --color-colors-ruby-10: #dc3b5d; 
    --color-colors-ruby-11: #ca244d; 
    --color-colors-ruby-12: #64172b; 
    --color-colors-ruby-alpha-1: #ff005503; 
    --color-colors-ruby-alpha-2: #ff002008; 
    --color-colors-ruby-alpha-3: #f3002515; 
    --color-colors-ruby-alpha-4: #ff002523; 
    --color-colors-ruby-alpha-5: #ff002a31; 
    --color-colors-ruby-alpha-6: #e4002440; 
    --color-colors-ruby-alpha-7: #ce002553; 
    --color-colors-ruby-alpha-8: #c300286d; 
    --color-colors-ruby-alpha-9: #db002cb9; 
    --color-colors-ruby-alpha-10: #d2002cc4; 
    --color-colors-ruby-alpha-11: #c10030db; 
    --color-colors-ruby-alpha-12: #550016e8; 
    --color-colors-crimson-1: #fffcfd; 
    --color-colors-crimson-2: #fef7f9; 
    --color-colors-crimson-3: #ffe9f0; 
    --color-colors-crimson-4: #fedce7; 
    --color-colors-crimson-5: #facedd; 
    --color-colors-crimson-6: #f3bed1; 
    --color-colors-crimson-7: #eaacc3; 
    --color-colors-crimson-8: #e093b2; 
    --color-colors-crimson-9: #e93d82; 
    --color-colors-crimson-10: #df3478; 
    --color-colors-crimson-11: #cb1d63; 
    --color-colors-crimson-12: #621639; 
    --color-colors-crimson-alpha-1: #ff005503; 
    --color-colors-crimson-alpha-2: #e0004008; 
    --color-colors-crimson-alpha-3: #ff005216; 
    --color-colors-crimson-alpha-4: #f8005123; 
    --color-colors-crimson-alpha-5: #e5004f31; 
    --color-colors-crimson-alpha-6: #d0004b41; 
    --color-colors-crimson-alpha-7: #bf004753; 
    --color-colors-crimson-alpha-8: #b6004a6c; 
    --color-colors-crimson-alpha-9: #e2005bc2; 
    --color-colors-crimson-alpha-10: #d70056cb; 
    --color-colors-crimson-alpha-11: #c4004fe2; 
    --color-colors-crimson-alpha-12: #530026e9; 
    --color-colors-pink-1: #fffcfe; 
    --color-colors-pink-2: #fef7fb; 
    --color-colors-pink-3: #fee9f5; 
    --color-colors-pink-4: #fbdcef; 
    --color-colors-pink-5: #f6cee7; 
    --color-colors-pink-6: #efbfdd; 
    --color-colors-pink-7: #e7acd0; 
    --color-colors-pink-8: #dd93c2; 
    --color-colors-pink-9: #d6409f; 
    --color-colors-pink-10: #cf3897; 
    --color-colors-pink-11: #c2298a; 
    --color-colors-pink-12: #651249; 
    --color-colors-pink-alpha-1: #ff00aa03; 
    --color-colors-pink-alpha-2: #e0008008; 
    --color-colors-pink-alpha-3: #f4008c16; 
    --color-colors-pink-alpha-4: #e2008b23; 
    --color-colors-pink-alpha-5: #d1008331; 
    --color-colors-pink-alpha-6: #c0007840; 
    --color-colors-pink-alpha-7: #b6006f53; 
    --color-colors-pink-alpha-8: #af006f6c; 
    --color-colors-pink-alpha-9: #c8007fbf; 
    --color-colors-pink-alpha-10: #c2007ac7; 
    --color-colors-pink-alpha-11: #b60074d6; 
    --color-colors-pink-alpha-12: #59003bed; 
    --color-colors-plum-1: #fefcff; 
    --color-colors-plum-2: #fdf7fd; 
    --color-colors-plum-3: #fbebfb; 
    --color-colors-plum-4: #f7def8; 
    --color-colors-plum-5: #f2d1f3; 
    --color-colors-plum-6: #e9c2ec; 
    --color-colors-plum-7: #deade3; 
    --color-colors-plum-8: #cf91d8; 
    --color-colors-plum-9: #ab4aba; 
    --color-colors-plum-10: #a144af; 
    --color-colors-plum-11: #953ea3; 
    --color-colors-plum-12: #53195d; 
    --color-colors-plum-alpha-1: #aa00ff03; 
    --color-colors-plum-alpha-2: #c000c008; 
    --color-colors-plum-alpha-3: #cc00cc14; 
    --color-colors-plum-alpha-4: #c200c921; 
    --color-colors-plum-alpha-5: #b700bd2e; 
    --color-colors-plum-alpha-6: #a400b03d; 
    --color-colors-plum-alpha-7: #9900a852; 
    --color-colors-plum-alpha-8: #9000a56e; 
    --color-colors-plum-alpha-9: #89009eb5; 
    --color-colors-plum-alpha-10: #7f0092bb; 
    --color-colors-plum-alpha-11: #730086c1; 
    --color-colors-plum-alpha-12: #40004be6; 
    --color-colors-purple-1: #fefcfe; 
    --color-colors-purple-2: #fbf7fe; 
    --color-colors-purple-3: #f7edfe; 
    --color-colors-purple-4: #f2e2fc; 
    --color-colors-purple-5: #ead5f9; 
    --color-colors-purple-6: #e0c4f4; 
    --color-colors-purple-7: #d1afec; 
    --color-colors-purple-8: #be93e4; 
    --color-colors-purple-9: #8e4ec6; 
    --color-colors-purple-10: #8347b9; 
    --color-colors-purple-11: #8145b5; 
    --color-colors-purple-12: #402060; 
    --color-colors-purple-alpha-1: #aa00aa03; 
    --color-colors-purple-alpha-2: #8000e008; 
    --color-colors-purple-alpha-3: #8e00f112; 
    --color-colors-purple-alpha-4: #8d00e51d; 
    --color-colors-purple-alpha-5: #8000db2a; 
    --color-colors-purple-alpha-6: #7a01d03b; 
    --color-colors-purple-alpha-7: #6d00c350; 
    --color-colors-purple-alpha-8: #6600c06c; 
    --color-colors-purple-alpha-9: #5c00adb1; 
    --color-colors-purple-alpha-10: #53009eb8; 
    --color-colors-purple-alpha-11: #52009aba; 
    --color-colors-purple-alpha-12: #250049df; 
    --color-colors-violet-1: #fdfcfe; 
    --color-colors-violet-2: #faf8ff; 
    --color-colors-violet-3: #f4f0fe; 
    --color-colors-violet-4: #ebe4ff; 
    --color-colors-violet-5: #e1d9ff; 
    --color-colors-violet-6: #d4cafe; 
    --color-colors-violet-7: #c2b5f5; 
    --color-colors-violet-8: #aa99ec; 
    --color-colors-violet-9: #6e56cf; 
    --color-colors-violet-10: #654dc4; 
    --color-colors-violet-11: #6550b9; 
    --color-colors-violet-12: #2f265f; 
    --color-colors-violet-alpha-1: #5500aa03; 
    --color-colors-violet-alpha-2: #4900ff07; 
    --color-colors-violet-alpha-3: #4400ee0f; 
    --color-colors-violet-alpha-4: #4300ff1b; 
    --color-colors-violet-alpha-5: #3600ff26; 
    --color-colors-violet-alpha-6: #3100fb35; 
    --color-colors-violet-alpha-7: #2d01dd4a; 
    --color-colors-violet-alpha-8: #2b00d066; 
    --color-colors-violet-alpha-9: #2400b7a9; 
    --color-colors-violet-alpha-10: #2300abb2; 
    --color-colors-violet-alpha-11: #1f0099af; 
    --color-colors-violet-alpha-12: #0b0043d9; 
    --color-colors-iris-1: #fdfdff; 
    --color-colors-iris-2: #f8f8ff; 
    --color-colors-iris-3: #f0f1fe; 
    --color-colors-iris-4: #e6e7ff; 
    --color-colors-iris-5: #dadcff; 
    --color-colors-iris-6: #cbcdff; 
    --color-colors-iris-7: #b8baf8; 
    --color-colors-iris-8: #9b9ef0; 
    --color-colors-iris-9: #5b5bd6; 
    --color-colors-iris-10: #5151cd; 
    --color-colors-iris-11: #5753c6; 
    --color-colors-iris-12: #272962; 
    --color-colors-iris-alpha-1: #0000ff02; 
    --color-colors-iris-alpha-2: #0000ff07; 
    --color-colors-iris-alpha-3: #0011ee0f; 
    --color-colors-iris-alpha-4: #000bff19; 
    --color-colors-iris-alpha-5: #000eff25; 
    --color-colors-iris-alpha-6: #000aff34; 
    --color-colors-iris-alpha-7: #0008e647; 
    --color-colors-iris-alpha-8: #0008d964; 
    --color-colors-iris-alpha-9: #0000c0a4; 
    --color-colors-iris-alpha-10: #0000b6ae; 
    --color-colors-iris-alpha-11: #0600abac; 
    --color-colors-iris-alpha-12: #000246d8; 
    --color-colors-indigo-1: #fdfdfe; 
    --color-colors-indigo-2: #f7f9ff; 
    --color-colors-indigo-3: #edf2fe; 
    --color-colors-indigo-4: #e1e9ff; 
    --color-colors-indigo-5: #d2deff; 
    --color-colors-indigo-6: #c1d0ff; 
    --color-colors-indigo-7: #abbdf9; 
    --color-colors-indigo-8: #8da4ef; 
    --color-colors-indigo-9: #3e63dd; 
    --color-colors-indigo-10: #3358d4; 
    --color-colors-indigo-11: #3a5bc7; 
    --color-colors-indigo-12: #1f2d5c; 
    --color-colors-indigo-alpha-1: #00008002; 
    --color-colors-indigo-alpha-2: #0040ff08; 
    --color-colors-indigo-alpha-3: #0047f112; 
    --color-colors-indigo-alpha-4: #0044ff1e; 
    --color-colors-indigo-alpha-5: #0044ff2d; 
    --color-colors-indigo-alpha-6: #003eff3e; 
    --color-colors-indigo-alpha-7: #0037ed54; 
    --color-colors-indigo-alpha-8: #0034dc72; 
    --color-colors-indigo-alpha-9: #0031d2c1; 
    --color-colors-indigo-alpha-10: #002ec9cc; 
    --color-colors-indigo-alpha-11: #002bb7c5; 
    --color-colors-indigo-alpha-12: #001046e0; 
    --color-colors-blue-1: #fbfdff; 
    --color-colors-blue-2: #f4faff; 
    --color-colors-blue-3: #e6f4fe; 
    --color-colors-blue-4: #d5efff; 
    --color-colors-blue-5: #c2e5ff; 
    --color-colors-blue-6: #acd8fc; 
    --color-colors-blue-7: #8ec8f6; 
    --color-colors-blue-8: #5eb1ef; 
    --color-colors-blue-9: #0090ff; 
    --color-colors-blue-10: #0588f0; 
    --color-colors-blue-11: #0d74ce; 
    --color-colors-blue-12: #113264; 
    --color-colors-blue-alpha-1: #0080ff04; 
    --color-colors-blue-alpha-2: #008cff0b; 
    --color-colors-blue-alpha-3: #008ff519; 
    --color-colors-blue-alpha-4: #009eff2a; 
    --color-colors-blue-alpha-5: #0093ff3d; 
    --color-colors-blue-alpha-6: #0088f653; 
    --color-colors-blue-alpha-7: #0083eb71; 
    --color-colors-blue-alpha-8: #0084e6a1; 
    --color-colors-blue-alpha-9: #0090ff; 
    --color-colors-blue-alpha-10: #0086f0fa; 
    --color-colors-blue-alpha-11: #006dcbf2; 
    --color-colors-blue-alpha-12: #5b5c5dee; 
    --color-colors-cyan-1: #fafdfe; 
    --color-colors-cyan-2: #f2fafb; 
    --color-colors-cyan-3: #def7f9; 
    --color-colors-cyan-4: #caf1f6; 
    --color-colors-cyan-5: #b5e9f0; 
    --color-colors-cyan-6: #9ddde7; 
    --color-colors-cyan-7: #7dcedc; 
    --color-colors-cyan-8: #3db9cf; 
    --color-colors-cyan-9: #00a2c7; 
    --color-colors-cyan-10: #0797b9; 
    --color-colors-cyan-11: #107d98; 
    --color-colors-cyan-12: #0d3c48; 
    --color-colors-cyan-alpha-1: #0099cc05; 
    --color-colors-cyan-alpha-2: #009db10d; 
    --color-colors-cyan-alpha-3: #00c2d121; 
    --color-colors-cyan-alpha-4: #00bcd435; 
    --color-colors-cyan-alpha-5: #01b4cc4a; 
    --color-colors-cyan-alpha-6: #00a7c162; 
    --color-colors-cyan-alpha-7: #009fbb82; 
    --color-colors-cyan-alpha-8: #00a3c0c2; 
    --color-colors-cyan-alpha-9: #00a2c7; 
    --color-colors-cyan-alpha-10: #0094b7f8; 
    --color-colors-cyan-alpha-11: #007491ef; 
    --color-colors-cyan-alpha-12: #00323ef2; 
    --color-colors-teal-1: #fafefd; 
    --color-colors-teal-2: #f3fbf9; 
    --color-colors-teal-3: #e0f8f3; 
    --color-colors-teal-4: #ccf3ea; 
    --color-colors-teal-5: #b8eae0; 
    --color-colors-teal-6: #a1ded2; 
    --color-colors-teal-7: #83cdc1; 
    --color-colors-teal-8: #53b9ab; 
    --color-colors-teal-9: #12a594; 
    --color-colors-teal-10: #0d9b8a; 
    --color-colors-teal-11: #008573; 
    --color-colors-teal-12: #0d3d38; 
    --color-colors-teal-alpha-1: #00cc9905; 
    --color-colors-teal-alpha-2: #00aa800c; 
    --color-colors-teal-alpha-3: #00c69d1f; 
    --color-colors-teal-alpha-4: #00c39633; 
    --color-colors-teal-alpha-5: #00b49047; 
    --color-colors-teal-alpha-6: #00a6855e; 
    --color-colors-teal-alpha-7: #0099807c; 
    --color-colors-teal-alpha-8: #009783ac; 
    --color-colors-teal-alpha-9: #009e8ced; 
    --color-colors-teal-alpha-10: #009684f2; 
    --color-colors-teal-alpha-11: #008573; 
    --color-colors-teal-alpha-12: #00332df2; 
    --color-colors-jade-1: #fbfefd; 
    --color-colors-jade-2: #f4fbf7; 
    --color-colors-jade-3: #e6f7ed; 
    --color-colors-jade-4: #d6f1e3; 
    --color-colors-jade-5: #c3e9d7; 
    --color-colors-jade-6: #acdec8; 
    --color-colors-jade-7: #8bceb6; 
    --color-colors-jade-8: #56ba9f; 
    --color-colors-jade-9: #29a383; 
    --color-colors-jade-10: #26997b; 
    --color-colors-jade-11: #208368; 
    --color-colors-jade-12: #1d3b31; 
    --color-colors-jade-alpha-1: #00c08004; 
    --color-colors-jade-alpha-2: #00a3460b; 
    --color-colors-jade-alpha-3: #00ae4819; 
    --color-colors-jade-alpha-4: #00a85129; 
    --color-colors-jade-alpha-5: #00a2553c; 
    --color-colors-jade-alpha-6: #009a5753; 
    --color-colors-jade-alpha-7: #00945f74; 
    --color-colors-jade-alpha-8: #00976ea9; 
    --color-colors-jade-alpha-9: #00916bd6; 
    --color-colors-jade-alpha-10: #008764d9; 
    --color-colors-jade-alpha-11: #007152df; 
    --color-colors-jade-alpha-12: #002217e2; 
    --color-colors-green-1: #fbfefc; 
    --color-colors-green-2: #f4fbf6; 
    --color-colors-green-3: #e6f6eb; 
    --color-colors-green-4: #d6f1df; 
    --color-colors-green-5: #c4e8d1; 
    --color-colors-green-6: #adddc0; 
    --color-colors-green-7: #8eceaa; 
    --color-colors-green-8: #5bb98b; 
    --color-colors-green-9: #30a46c; 
    --color-colors-green-10: #2b9a66; 
    --color-colors-green-11: #218358; 
    --color-colors-green-12: #193b2d; 
    --color-colors-green-alpha-1: #00c04004; 
    --color-colors-green-alpha-2: #00a32f0b; 
    --color-colors-green-alpha-3: #00a43319; 
    --color-colors-green-alpha-4: #00a83829; 
    --color-colors-green-alpha-5: #019c393b; 
    --color-colors-green-alpha-6: #00963c52; 
    --color-colors-green-alpha-7: #00914071; 
    --color-colors-green-alpha-8: #00924ba4; 
    --color-colors-green-alpha-9: #008f4acf; 
    --color-colors-green-alpha-10: #008647d4; 
    --color-colors-green-alpha-11: #00713fde; 
    --color-colors-green-alpha-12: #002616e6; 
    --color-colors-grass-1: #fbfefb; 
    --color-colors-grass-2: #f5fbf5; 
    --color-colors-grass-3: #e9f6e9; 
    --color-colors-grass-4: #daf1db; 
    --color-colors-grass-5: #c9e8ca; 
    --color-colors-grass-6: #b2ddb5; 
    --color-colors-grass-7: #94ce9a; 
    --color-colors-grass-8: #65ba74; 
    --color-colors-grass-9: #46a758; 
    --color-colors-grass-10: #3e9b4f; 
    --color-colors-grass-11: #2a7e3b; 
    --color-colors-grass-12: #203c25; 
    --color-colors-grass-alpha-1: #00c00004; 
    --color-colors-lime-1: #fcfdfa; 
    --color-colors-lime-2: #f8faf3; 
    --color-colors-lime-3: #eef6d6; 
    --color-colors-lime-4: #e2f0bd; 
    --color-colors-lime-5: #d3e7a6; 
    --color-colors-lime-6: #c2da91; 
    --color-colors-lime-7: #abc978; 
    --color-colors-lime-8: #8db654; 
    --color-colors-lime-9: #bdee63; 
    --color-colors-lime-10: #b0e64c; 
    --color-colors-lime-11: #5c7c2f; 
    --color-colors-lime-12: #37401c; 
    --color-colors-lime-alpha-1: #66990005; 
    --color-colors-lime-alpha-2: #6b95000c; 
    --color-colors-lime-alpha-3: #96c80029; 
    --color-colors-lime-alpha-4: #8fc60042; 
    --color-colors-lime-alpha-5: #81bb0059; 
    --color-colors-lime-alpha-6: #72aa006e; 
    --color-colors-lime-alpha-7: #61990087; 
    --color-colors-lime-alpha-8: #559200ab; 
    --color-colors-lime-alpha-9: #93e4009c; 
    --color-colors-lime-alpha-10: #8fdc00b3; 
    --color-colors-lime-alpha-11: #375f00d0; 
    --color-colors-lime-alpha-12: #1e2900e3; 
    --color-colors-grass-alpha-2: #0099000a; 
    --color-colors-grass-alpha-3: #00970016; 
    --color-colors-grass-alpha-4: #009f0725; 
    --color-colors-grass-alpha-5: #00930536; 
    --color-colors-grass-alpha-6: #008f0a4d; 
    --color-colors-grass-alpha-7: #018b0f6b; 
    --color-colors-grass-alpha-8: #008d199a; 
    --color-colors-grass-alpha-9: #008619b9; 
    --color-colors-grass-alpha-10: #007b17c1; 
    --color-colors-grass-alpha-11: #006514d5; 
    --color-colors-grass-alpha-12: #002006df; 
    --color-overlays-black-alpha-1: #0000000d; 
    --color-overlays-black-alpha-2: #0000001a; 
    --color-overlays-black-alpha-3: #00000026; 
    --color-overlays-black-alpha-4: #00000033; 
    --color-overlays-black-alpha-5: #0000004d; 
    --color-overlays-black-alpha-6: #00000066; 
    --color-overlays-black-alpha-7: #00000080; 
    --color-overlays-black-alpha-8: #00000099; 
    --color-overlays-black-alpha-9: #000000b2; 
    --color-overlays-black-alpha-10: #000000cc; 
    --color-overlays-black-alpha-11: #000000e5; 
    --color-overlays-black-alpha-12: #000000f2; 
    --color-colors-mint-1: #f9fefd; 
    --color-colors-mint-2: #f2fbf9; 
    --color-colors-mint-3: #ddf9f2; 
    --color-colors-mint-4: #c8f4e9; 
    --color-colors-mint-5: #b3ecde; 
    --color-colors-mint-6: #9ce0d0; 
    --color-colors-mint-7: #7ecfbd; 
    --color-colors-mint-8: #4cbba5; 
    --color-colors-mint-9: #86ead4; 
    --color-colors-mint-10: #7de0cb; 
    --color-colors-mint-11: #027864; 
    --color-colors-mint-12: #16433c; 
    --color-colors-mint-alpha-1: #00d5aa06; 
    --color-colors-mint-alpha-2: #00b18a0d; 
    --color-colors-mint-alpha-3: #00d29e22; 
    --color-colors-mint-alpha-4: #00cc9937; 
    --color-colors-mint-alpha-5: #00c0914c; 
    --color-colors-mint-alpha-6: #00b08663; 
    --color-colors-mint-alpha-7: #00a17d81; 
    --color-colors-mint-alpha-8: #009e7fb3; 
    --color-colors-mint-alpha-9: #00d3a579; 
    --color-colors-mint-alpha-10: #00c39982; 
    --color-colors-mint-alpha-11: #007763fd; 
    --color-colors-mint-alpha-12: #00312ae9; 
    --color-colors-sky-1: #f9feff; 
    --color-colors-sky-2: #f1fafd; 
    --color-colors-sky-3: #e1f6fd; 
    --color-colors-sky-4: #d1f0fa; 
    --color-colors-sky-5: #bee7f5; 
    --color-colors-sky-6: #a9daed; 
    --color-colors-sky-7: #8dcae3; 
    --color-colors-sky-8: #60b3d7; 
    --color-colors-sky-9: #7ce2fe; 
    --color-colors-sky-10: #74daf8; 
    --color-colors-sky-11: #00749e; 
    --color-colors-sky-12: #1d3e56; 
    --color-colors-sky-alpha-1: #00d5ff06; 
    --color-colors-sky-alpha-2: #00a4db0e; 
    --color-colors-sky-alpha-3: #00b3ee1e; 
    --color-colors-sky-alpha-4: #00ace42e; 
    --color-colors-sky-alpha-5: #00a1d841; 
    --color-colors-sky-alpha-6: #0092ca56; 
    --color-colors-sky-alpha-7: #0089c172; 
    --color-colors-sky-alpha-8: #0085bf9f; 
    --color-colors-sky-alpha-9: #00c7fe83; 
    --color-colors-sky-alpha-10: #00bcf38b; 
    --color-colors-sky-alpha-11: #00749e; 
    --color-colors-sky-alpha-12: #002540e2; 
    --color-overlays-white-alpha-1: #ffffff0d; 
    --color-overlays-white-alpha-2: #ffffff1a; 
    --color-overlays-white-alpha-3: #ffffff26; 
    --color-overlays-white-alpha-4: #ffffff33; 
    --color-overlays-white-alpha-5: #ffffff4d; 
    --color-overlays-white-alpha-6: #ffffff66; 
    --color-overlays-white-alpha-7: #ffffff80; 
    --color-overlays-white-alpha-8: #ffffff99; 
    --color-overlays-white-alpha-9: #ffffffb2; 
    --color-overlays-white-alpha-10: #ffffffcc; 
    --color-overlays-white-alpha-11: #ffffffe5; 
    --color-overlays-white-alpha-12: #fffffff2; 
    --color-colors-custom-1: #fcfcfc; 
    --color-colors-custom-2: #f9f9f9; 
    --color-colors-custom-3: #f0f0f0; 
    --color-colors-custom-4: #e8e8e8; 
    --color-colors-custom-5: #e1e1e1; 
    --color-colors-custom-6: #d9d9d9; 
    --color-colors-custom-7: #cecece; 
    --color-colors-custom-8: #bbbbbb; 
    --color-colors-custom-9: #000000; 
    --color-colors-custom-10: #2e2e2e; 
    --color-colors-custom-11: #646464; 
    --color-colors-custom-12: #202020; 
    --color-colors-custom-alpha-1: #00000003; 
    --color-colors-custom-alpha-2: #00000006; 
    --color-colors-custom-alpha-3: #0000000f; 
    --color-colors-custom-alpha-4: #00000017; 
    --color-colors-custom-alpha-5: #0000001e; 
    --color-colors-custom-alpha-6: #00000026; 
    --color-colors-custom-alpha-7: #00000031; 
    --color-colors-custom-alpha-8: #00000044; 
    --color-colors-custom-alpha-9: #000000; 
    --color-colors-custom-alpha-10: #000000d1; 
    --color-colors-custom-alpha-11: #0000009b; 
    --color-colors-custom-alpha-12: #000000df; 
    --color-colors-default-white: #ffffff; 
    --color-colors-default-black: #000000; /* Based on Slate 12 */
    --color-variables-misc-white-to-dark: #ffffff; 
    --color-colors-neutral-neutral-12: #1c2024; 
    --color-variables-misc-dark-to-white: #1c2024; 
    --color-variables-effects-solid: #ffffff; 
    --color-colors-neutral-neutral-alpha-8: #00083046; 
    --color-variables-misc-backdrop: #00083046; 
    --color-colors-accent-accent-1: #fdfdfe; 
    --color-colors-accent-accent-2: #f7f9ff; 
    --color-colors-accent-accent-3: #edf2fe; 
    --color-colors-accent-accent-4: #e1e9ff; 
    --color-colors-accent-accent-5: #d2deff; 
    --color-colors-accent-accent-6: #c1d0ff; 
    --color-colors-accent-accent-7: #abbdf9; 
    --color-colors-accent-accent-8: #8da4ef; 
    --color-colors-accent-accent-9: #3e63dd; 
    --color-colors-accent-accent-10: #3358d4; 
    --color-colors-accent-accent-11: #3a5bc7; 
    --color-colors-accent-accent-12: #1f2d5c; 
    --color-colors-accent-accent-alpha-1: #00008002; 
    --color-colors-accent-accent-alpha-2: #0040ff08; 
    --color-colors-accent-accent-alpha-3: #0047f112; 
    --color-colors-accent-accent-alpha-4: #0044ff1e; 
    --color-colors-accent-accent-alpha-5: #0044ff2d; 
    --color-colors-accent-accent-alpha-6: #003eff3e; 
    --color-colors-accent-accent-alpha-7: #0037ed54; 
    --color-colors-accent-accent-alpha-8: #0034dc72; 
    --color-colors-accent-accent-alpha-9: #0031d2c1; 
    --color-colors-accent-accent-alpha-10: #002ec9cc; 
    --color-colors-accent-accent-alpha-11: #002bb7c5; 
    --color-colors-accent-accent-alpha-12: #001046e0; 
    --color-colors-neutral-neutral-1: #fcfcfd; 
    --color-colors-neutral-neutral-2: #f9f9fb; 
    --color-colors-neutral-neutral-3: #f0f0f3; 
    --color-colors-neutral-neutral-4: #e8e8ec; 
    --color-colors-neutral-neutral-5: #e0e1e6; 
    --color-colors-neutral-neutral-6: #d9d9e0; 
    --color-colors-neutral-neutral-7: #cdced6; 
    --color-colors-neutral-neutral-8: #b9bbc6; 
    --color-colors-neutral-neutral-9: #8b8d98; 
    --color-colors-neutral-neutral-10: #80838d; 
    --color-colors-neutral-neutral-11: #60646c; 
    --color-colors-neutral-neutral-alpha-1: #00005503; 
    --color-colors-neutral-neutral-alpha-2: #00005506; 
    --color-colors-neutral-neutral-alpha-3: #0000330f; 
    --color-colors-neutral-neutral-alpha-4: #00002d17; 
    --color-colors-neutral-neutral-alpha-5: #0009321f; 
    --color-colors-neutral-neutral-alpha-6: #00002f26; 
    --color-colors-neutral-neutral-alpha-7: #00062e32; 
    --color-colors-neutral-neutral-alpha-9: #00051d74; 
    --color-colors-neutral-neutral-alpha-10: #00071b7f; 
    --color-colors-neutral-neutral-alpha-11: #0007149f; 
    --color-colors-neutral-neutral-alpha-12: #000509e3; 
    --color-colors-semantic-error-1: #fffcfc; 
    --color-colors-semantic-error-2: #fff7f7; 
    --color-colors-semantic-error-3: #feebec; 
    --color-colors-semantic-error-4: #ffdbdc; 
    --color-colors-semantic-error-5: #ffcdce; 
    --color-colors-semantic-error-6: #fdbdbe; 
    --color-colors-semantic-error-7: #f4a9aa; 
    --color-colors-semantic-error-8: #eb8e90; 
    --color-colors-semantic-error-9: #e5484d; 
    --color-colors-semantic-error-10: #dc3e42; 
    --color-colors-semantic-error-11: #ce2c31; 
    --color-colors-semantic-error-12: #641723; 
    --color-colors-semantic-error-alpha-1: #ff000003; 
    --color-colors-semantic-error-alpha-2: #ff000008; 
    --color-colors-semantic-error-alpha-3: #f3000d14; 
    --color-colors-semantic-error-alpha-4: #ff000824; 
    --color-colors-semantic-error-alpha-5: #ff000632; 
    --color-colors-semantic-error-alpha-6: #f8000442; 
    --color-colors-semantic-error-alpha-7: #df000356; 
    --color-colors-semantic-error-alpha-8: #d2000571; 
    --color-colors-semantic-error-alpha-9: #db0007b7; 
    --color-colors-semantic-error-alpha-10: #d10005c1; 
    --color-colors-semantic-error-alpha-11: #c40006d3; 
    --color-colors-semantic-error-alpha-12: #55000de8; 
    --color-colors-semantic-success-1: #fbfefc; 
    --color-colors-semantic-success-2: #f4fbf6; 
    --color-colors-semantic-success-3: #e6f6eb; 
    --color-colors-semantic-success-4: #d6f1df; 
    --color-colors-semantic-success-5: #c4e8d1; 
    --color-colors-semantic-success-6: #adddc0; 
    --color-colors-semantic-success-7: #8eceaa; 
    --color-colors-semantic-success-8: #5bb98b; 
    --color-colors-semantic-success-9: #30a46c; 
    --color-colors-semantic-success-10: #2b9a66; 
    --color-colors-semantic-success-11: #218358; 
    --color-colors-semantic-success-12: #193b2d; 
    --color-colors-semantic-success-alpha-1: #00c04004; 
    --color-colors-semantic-success-alpha-2: #00a32f0b; 
    --color-colors-semantic-success-alpha-3: #00a43319; 
    --color-colors-semantic-success-alpha-4: #00a83829; 
    --color-colors-semantic-success-alpha-5: #019c393b; 
    --color-colors-semantic-success-alpha-6: #00963c52; 
    --color-colors-semantic-success-alpha-7: #00914071; 
    --color-colors-semantic-success-alpha-8: #00924ba4; 
    --color-colors-semantic-success-alpha-9: #008f4acf; 
    --color-colors-semantic-success-alpha-10: #008647d4; 
    --color-colors-semantic-success-alpha-11: #00713fde; 
    --color-colors-semantic-success-alpha-12: #002616e6; 
    --color-colors-semantic-warning-1: #fefdfb; 
    --color-colors-semantic-warning-2: #fefbe9; 
    --color-colors-semantic-warning-3: #fff7c2; 
    --color-colors-semantic-warning-4: #ffee9c; 
    --color-colors-semantic-warning-5: #fbe577; 
    --color-colors-semantic-warning-6: #f3d673; 
    --color-colors-semantic-warning-7: #e9c162; 
    --color-colors-semantic-warning-8: #e2a336; 
    --color-colors-semantic-warning-9: #ffc53d; 
    --color-colors-semantic-warning-10: #ffba18; 
    --color-colors-semantic-warning-11: #ab6400; 
    --color-colors-semantic-warning-12: #4f3422; 
    --color-colors-semantic-warning-alpha-1: #c0800004; 
    --color-colors-semantic-warning-alpha-2: #f4d10016; 
    --color-colors-semantic-warning-alpha-3: #ffde003d; 
    --color-colors-semantic-warning-alpha-4: #ffd40063; 
    --color-colors-semantic-warning-alpha-5: #f8cf0088; 
    --color-colors-semantic-warning-alpha-6: #eab5008c; 
    --color-colors-semantic-warning-alpha-7: #dc9b009d; 
    --color-colors-semantic-warning-alpha-8: #da8a00c9; 
    --color-colors-semantic-warning-alpha-9: #ffb300c2; 
    --color-colors-semantic-warning-alpha-10: #ffb300e7; 
    --color-colors-semantic-warning-alpha-11: #ab6400; 
    --color-colors-semantic-warning-alpha-12: #341500dd; 
    --color-colors-semantic-info-1: #f9feff; 
    --color-colors-semantic-info-2: #f1fafd; 
    --color-colors-semantic-info-3: #e1f6fd; 
    --color-colors-semantic-info-4: #d1f0fa; 
    --color-colors-semantic-info-5: #bee7f5; 
    --color-colors-semantic-info-6: #a9daed; 
    --color-colors-semantic-info-7: #8dcae3; 
    --color-colors-semantic-info-8: #60b3d7; 
    --color-colors-semantic-info-9: #7ce2fe; 
    --color-colors-semantic-info-10: #74daf8; 
    --color-colors-semantic-info-11: #00749e; 
    --color-colors-semantic-info-12: #1d3e56; 
    --color-colors-semantic-info-alpha-1: #00d5ff06; 
    --color-colors-semantic-info-alpha-2: #00a4db0e; 
    --color-colors-semantic-info-alpha-3: #00b3ee1e; 
    --color-colors-semantic-info-alpha-4: #00ace42e; 
    --color-colors-semantic-info-alpha-5: #00a1d841; 
    --color-colors-semantic-info-alpha-6: #0092ca56; 
    --color-colors-semantic-info-alpha-7: #0089c172; 
    --color-colors-semantic-info-alpha-8: #0085bf9f; 
    --color-colors-semantic-info-alpha-9: #00c7fe83; 
    --color-colors-semantic-info-alpha-10: #00bcf38b; 
    --color-colors-semantic-info-alpha-11: #00749e; 
    --color-colors-semantic-info-alpha-12: #002540e2; 
    --color-panel-translucent: #ffffffcc; 
    --color-panel-default: #ffffffcc; 
    --color-panel-solid: #ffffff; 
    --color-tokens-colors-page-background: #ffffff; 
    --color-tokens-colors-surface: #ffffffe5; 
    --color-tokens-colors-accent-surface: #0040ff08; 
    --color-tokens-colors-overlay: #00083046; 
    --color-tokens-colors-white-contrast: #ffffff; 
    --color-tokens-colors-accent-contrast: #ffffff; 
    --color-tokens-colors-black-contrast: #000000; 
    --color-tokens-colors-text: #1c2024; 
}