
:root {
    --measure-dimension-typography-font-size-1: 12px;     
    --measure-dimension-typography-font-size-2: 14px;     
    --measure-dimension-typography-font-size-3: 16px;     
    --measure-dimension-typography-font-size-4: 18px;     
    --measure-dimension-typography-font-size-5: 20px;     
    --measure-dimension-typography-font-size-6: 24px;     
    --measure-dimension-typography-font-size-7: 28px;     
    --measure-dimension-typography-font-size-8: 35px;     
    --measure-dimension-typography-font-size-9: 60px;     
    --measure-dimension-typography-letter-spacing-1: 0.04px;     
    --measure-dimension-typography-letter-spacing-2: 0px;     
    --measure-dimension-typography-letter-spacing-3: 0px;     
    --measure-dimension-typography-letter-spacing-4: -0.04px;     
    --measure-dimension-typography-letter-spacing-5: -0.08px;     
    --measure-dimension-typography-letter-spacing-6: -0.1px;     
    --measure-dimension-typography-letter-spacing-7: -0.12px;     
    --measure-dimension-typography-letter-spacing-8: -0.16px;     
    --measure-dimension-typography-letter-spacing-9: -0.4px;     
    --measure-dimension-typography-line-height-1: 16px;     
    --measure-dimension-typography-line-height-2: 20px;     
    --measure-dimension-typography-line-height-3: 24px;     
    --measure-dimension-typography-line-height-4: 26px;     
    --measure-dimension-typography-line-height-5: 28px;     
    --measure-dimension-typography-line-height-6: 30px;     
    --measure-dimension-typography-line-height-7: 36px;     
    --measure-dimension-typography-line-height-8: 40px;     
    --measure-dimension-typography-line-height-9: 60px;     
    --measure-border-radius-border-radius-full: 9999px;     
    --measure-size-tokens-space-table-cell-min-height-1: 36px;     
    --measure-size-tokens-space-table-cell-min-height-2: 44px;     
    --measure-dimension-none-1: 0px;     
    --measure-dimension-none-1-max: 0px;     
    --measure-dimension-none-2: 0px;     
    --measure-dimension-none-2-max: 0px;     
    --measure-dimension-none-3: 0px;     
    --measure-dimension-none-3-max: 0px;     
    --measure-dimension-none-4: 0px;     
    --measure-dimension-none-4-max: 0px;     
    --measure-dimension-none-5: 0px;     
    --measure-dimension-none-5-max: 0px;     
    --measure-dimension-none-6: 0px;     
    --measure-dimension-none-6-max: 0px;     
    --measure-dimension-small-1: 1.5px;     
    --measure-dimension-small-1-max: 1.5px;     
    --measure-dimension-small-2: 2px;     
    --measure-dimension-small-2-max: 2px;     
    --measure-dimension-small-3: 3px;     
    --measure-dimension-small-3-max: 3px;     
    --measure-dimension-small-4: 4px;     
    --measure-dimension-small-4-max: 4px;     
    --measure-dimension-small-5: 6px;     
    --measure-dimension-small-5-max: 6px;     
    --measure-dimension-small-6: 8px;     
    --measure-dimension-small-6-max: 8px;     
    --measure-dimension-medium-1: 3px;     
    --measure-dimension-medium-1-max: 3px;     
    --measure-dimension-medium-2: 4px;     
    --measure-dimension-medium-2-max: 4px;     
    --measure-dimension-medium-3: 6px;     
    --measure-dimension-medium-3-max: 6px;     
    --measure-dimension-medium-4: 8px;     
    --measure-dimension-medium-4-max: 8px;     
    --measure-dimension-medium-5: 12px;     
    --measure-dimension-medium-5-max: 12px;     
    --measure-dimension-medium-6: 16px;     
    --measure-dimension-medium-6-max: 16px;     
    --measure-dimension-large-1: 4.5px;     
    --measure-dimension-large-1-max: 4.5px;     
    --measure-dimension-large-2: 6px;     
    --measure-dimension-large-2-max: 6px;     
    --measure-dimension-large-3: 9px;     
    --measure-dimension-large-3-max: 9px;     
    --measure-dimension-large-4: 12px;     
    --measure-dimension-large-4-max: 12px;     
    --measure-dimension-large-5: 18px;     
    --measure-dimension-large-5-max: 18px;     
    --measure-dimension-large-6: 24px;     
    --measure-dimension-large-6-max: 24px;     
    --measure-dimension-full-1: 6px;     
    --measure-dimension-full-1-max: 9999px;     
    --measure-dimension-full-2: 8px;     
    --measure-dimension-full-2-max: 9999px;     
    --measure-dimension-full-3: 12px;     
    --measure-dimension-full-3-max: 9999px;     
    --measure-dimension-full-4: 16px;     
    --measure-dimension-full-4-max: 9999px;     
    --measure-dimension-full-5: 24px;     
    --measure-dimension-full-5-max: 9999px;     
    --measure-dimension-full-6: 32px;     
    --measure-dimension-full-6-max: 9999px;     
    --measure-dimension-90-1: 3.6px;     
    --measure-dimension-90-2: 7.2px;     
    --measure-dimension-90-3: 10.8px;     
    --measure-dimension-90-4: 14.4px;     
    --measure-dimension-90-5: 21.6px;     
    --measure-dimension-90-6: 28.8px;     
    --measure-dimension-90-7: 36px;     
    --measure-dimension-90-8: 43.2px;     
    --measure-dimension-90-9: 57.6px;     
    --measure-dimension-95-1: 3.8px;     
    --measure-dimension-95-2: 7.6px;     
    --measure-dimension-95-3: 11.4px;     
    --measure-dimension-95-4: 15.2px;     
    --measure-dimension-95-5: 22.8px;     
    --measure-dimension-95-6: 30.4px;     
    --measure-dimension-95-7: 38px;     
    --measure-dimension-95-8: 45.6px;     
    --measure-dimension-95-09: 60.8px;     
    --measure-dimension-100-1: 4px;     
    --measure-dimension-100-2: 8px;     
    --measure-dimension-100-3: 12px;     
    --measure-dimension-100-4: 16px;     
    --measure-dimension-100-5: 24px;     
    --measure-dimension-100-6: 32px;     
    --measure-dimension-100-7: 40px;     
    --measure-dimension-100-8: 48px;     
    --measure-dimension-100-9: 64px;     
    --measure-dimension-105-1: 4.2px;     
    --measure-dimension-105-2: 8.4px;     
    --measure-dimension-105-3: 13.8px;     
    --measure-dimension-105-4: 18.4px;     
    --measure-dimension-105-5: 25.2px;     
    --measure-dimension-105-6: 33.6px;     
    --measure-dimension-105-7: 42px;     
    --measure-dimension-105-8: 50.4px;     
    --measure-dimension-105-9: 67.2px;     
    --measure-dimension-110-1: 4.4px;     
    --measure-dimension-110-2: 8.8px;     
    --measure-dimension-110-3: 13.2px;     
    --measure-dimension-110-4: 17.6px;     
    --measure-dimension-110-5: 26.4px;     
    --measure-dimension-110-6: 35.2px;     
    --measure-dimension-110-7: 44px;     
    --measure-dimension-110-8: 52.8px;     
    --measure-dimension-110-9: 70.4px;     
    --measure-dimension-spacing-1: 4px;     
    --measure-dimension-spacing-2: 8px;     
    --measure-dimension-spacing-3: 12px;     
    --measure-dimension-spacing-4: 16px;     
    --measure-dimension-spacing-5: 24px;     
    --measure-dimension-spacing-6: 32px;     
    --measure-dimension-spacing-7: 40px;     
    --measure-dimension-spacing-8: 48px;     
    --measure-dimension-spacing-9: 64px;     
    --measure-border-radius-border-radius-1: 3px;     
    --measure-border-radius-border-radius-1-max: 3px;     
    --measure-border-radius-border-radius-2: 4px;     
    --measure-border-radius-border-radius-2-max: 4px;     
    --measure-border-radius-border-radius-3: 6px;     
    --measure-border-radius-border-radius-3-max: 6px;     
    --measure-border-radius-border-radius-4: 8px;     
    --measure-border-radius-border-radius-4-max: 8px;     
    --measure-border-radius-border-radius-5: 12px;     
    --measure-border-radius-border-radius-5-max: 12px;     
    --measure-border-radius-border-radius-6: 16px;     
    --measure-border-radius-border-radius-6-max: 16px;     
    --measure-size-tokens-space-button-height-1: 24px;     
    --measure-size-tokens-space-button-height-2: 32px;     
    --measure-size-tokens-space-button-height-3: 40px;     
    --measure-size-tokens-space-button-height-4: 48px;     
    --measure-size-tokens-space-menu-item-height-1: 24px;     
    --measure-size-tokens-space-menu-item-height-2: 32px;     
    --measure-size-tokens-space-table-cell-min-height-3: 48px;     
    --measure-space-tokens-space-table-cell-padding-1: 8px;     
    --measure-space-tokens-space-table-cell-padding-2: 12px;     
    --measure-space-tokens-space-table-cell-padding-3: 16px;     
}